 <div class="row">
     <div class="col-md-14">
            <div class="row">
               <div class="col-md-12">
                   <nb-card class="inline-form-card">
                       <nb-card-header>Media Estimation</nb-card-header>
                    </nb-card>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-6">
                        <nb-card>
                            <nb-card-header></nb-card-header>
                            <nb-card-body>
                                    <div class="form-group row">
                                            <label for="inputEmail1" class="col-sm-3 col-form-label">Quotation No</label>
                                            <div class="col-sm-9">
                                                    <select class="col-sm-9 form-control">
                                                            <option></option>
                                                            <option>1025</option>
                                                            <option>2582</option>
                                                    </select>
                                            </div>
                                    </div> 
                                    <div class="form-group row">
                                            <label for="inputEmail1" class="col-sm-3 col-form-label">Date</label>
                                            <div class="col-sm-9">
                                              <input type="date" class="form-control" id="inputEmail1" placeholder="Date">
                                            </div>
                                    </div> 
                                    
                                    <div class="form-group row">
                                            <label for="inputEmail1" class="col-sm-3 col-form-label">Client Name</label>
                                            <div class="col-sm-9">
                                              <input type="text" class="form-control" id="inputEmail1" placeholder="Client Name">
                                            </div>
                                    </div>  
                                    <div class="form-group row">
                                            <label for="inputEmail1" class="col-sm-3 col-form-label">Client Address</label>
                                            <div class="col-sm-9">
                                                    <textarea rows="3" placeholder="Client Address" class="form-control"></textarea>
                                            </div>
                                    </div>
                                   
                            </nb-card-body>
                        </nb-card>
                    </div>
                    <div class="col-md-6">
                        <nb-card>
                            <nb-card-header></nb-card-header>
                            <nb-card-body>
                                    <div class="form-group row">
                                            <label for="inputEmail1" class="col-sm-4 col-form-label">Rate</label>
                                            <div class="col-sm-6">
                                              <input type="text" class="form-control" id="inputEmail1" placeholder="Rate">
                                            </div>
                                    </div> 
                                    <div class="form-group row">
                                            <label for="inputEmail1" class="col-sm-4 col-form-label">Discount</label>
                                                <div class="col-sm-2">
                                                        <input type="text" class="form-control" id="inputEmail1" placeholder="">
                                                </div>      
                                                <div class="col-sm-4">
                                                        <input type="text" class="form-control" id="inputEmail1" placeholder="">
                                                </div>
                                    </div> 
                                    <div class="form-group row">
                                            <label for="inputEmail1" class="col-sm-4 col-form-label">Box Charges</label>
                                            <div class="col-sm-6">
                                              <input type="text" class="form-control" id="inputEmail1" placeholder="Box Charges">
                                            </div>
                                    </div> 
                                    <div class="form-group row">
                                            <label for="inputEmail1" class="col-sm-4 col-form-label">Government Tax</label>
                                                <div class="col-sm-2">
                                                   <input type="text" class="form-control" id="inputEmail1" placeholder="">
                                                </div>      
                                                <div class="col-sm-4">
                                                   <input type="text" class="form-control" id="inputEmail1" placeholder="">
                                                </div>
                                    </div> 
                                    <div class="form-group row">
                                            <label for="inputEmail1" class="col-sm-4 col-form-label">Net Amount</label>
                                            <div class="col-sm-6">
                                              <input type="text" class="form-control" id="inputEmail1" placeholder="Net Amount">
                                            </div>
                                    </div> 
                            </nb-card-body> 
                        </nb-card>
                    </div>
           </div>
    
    <div class="col-md-14">
        <nb-card>
            <nb-card-body>
                <ng2-smart-table [settings]="settings" [source]="source" ></ng2-smart-table>
             </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-14">
        <nb-card>
            <nb-card-body>
                <div class="row full-name-inputs" >
                        <div class="col-sm-2 container-btn" *ngFor="let hb of buttonSettings">
                            <button [disabled]="" class="btn {{ hb.class }} btn-demo">{{ hb.buttonTitle }}</button>
                        </div>
                </div>
             </nb-card-body>
        </nb-card>
    </div>
  </div> 
</div> 


