<div class="row">
    <div class="col-lg-18">
        <nb-card>
            <nb-card-header>Area Mapping</nb-card-header>
            <nb-card-body>
              <div class="row">
                <div class="col-md-3">
                    <select class="form-control input-group"  (change)="onSelect($event)">
                        <option value="0" selected="selected">Select Publication</option> 
                        <option *ngFor="let t of types">{{t}}</option>
                    </select>
                </div>  
                <div class="col-md-8">
                        <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onMultipleSelectRow($event)"></ng2-smart-table>
                </div>
              </div>
             </nb-card-body>
        </nb-card>
        
    </div>
</div>