<div class="row">
        <div class="col-md-6">
            <nb-card>
                <nb-card-header>Release Order Entry</nb-card-header>
                <nb-card-body>
                        <div class="form-group row">
                            <label for="inputEmail1" class="col-sm-3 col-form-label">Release No</label>
                            <select class="col-sm-9 form-control">
                                    <option></option>
                                    <option>3214</option>
                                    <option>258</option>
                                    <option>789</option>
                                    <option>852</option>
                            </select>
                        </div>  
                        <div class="form-group row">
                                <label for="inputEmail1" class="col-sm-3 col-form-label">Date</label>
                                <div class="col-sm-9">
                                  <input type="email" class="form-control" id="inputEmail1" placeholder="Date">
                                </div>
                        </div> 
                        <div class="form-group row">
                                <label for="inputEmail1" class="col-sm-3 col-form-label">Publication Name</label>
                                <div class="col-sm-9">
                                  <input type="email" class="form-control" id="inputEmail1" placeholder="Publication Name">
                                </div>
                        </div>  
                        <div class="form-group row">
                                <label for="inputEmail1" class="col-sm-3 col-form-label">Category Name</label>
                                <div class="col-sm-9">
                                  <input type="email" class="form-control" id="inputEmail1" placeholder="Category Name">
                                </div>
                        </div>  
                        <div class="form-group row">
                                <label for="inputEmail1" class="col-sm-3 col-form-label">Edtion Name</label>
                                <div class="col-sm-9">
                                  <input type="email" class="form-control" id="inputEmail1" placeholder="Edtion Name">
                                </div>
                        </div> 
                        <div class="form-group row">
                                <label for="inputEmail1" class="col-sm-3 col-form-label">Client Name</label>
                                <div class="col-sm-9">
                                  <input type="email" class="form-control" id="inputEmail1" placeholder="Client Name">
                                </div>
                        </div>  
                        <div class="form-group row">
                                <label for="inputEmail1" class="col-sm-3 col-form-label">Client Name</label>
                                <div class="col-sm-9">
                                        <textarea rows="3" placeholder="Client Address" class="form-control"></textarea>
                                </div>
                        </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-6">
            <nb-card>
                <nb-card-header></nb-card-header>
                <nb-card-body>
                        <div class="form-group row">
                                <label for="inputEmail1" class="col-sm-3 col-form-label">Date of Release</label>
                                <div class="col-sm-9">
                                  <input type="email" class="form-control" id="inputEmail1" placeholder="Date of Release">
                                </div>
                        </div> 
                        <div class="form-group row">
                                <label for="inputEmail1" class="col-sm-3 col-form-label">Nature</label>
                                <div class="col-sm-9">
                                        <select class="col-sm-9 form-control">
                                                <option></option>
                                                <option>abcd</option>
                                                <option>bcde</option>
                                        </select>
                                </div>
                        </div> 
                        <div class="form-group row">
                                <label for="inputEmail1" class="col-sm-3 col-form-label">Caption</label>
                                <div class="col-sm-9">
                                  <input type="email" class="form-control" id="inputEmail1" placeholder="Caption">
                                </div>
                        </div> 
                        <div class="form-group row">
                                <label for="inputEmail1" class="col-sm-3 col-form-label">Position</label>
                                <div class="col-sm-9">
                                  <input type="email" class="form-control" id="inputEmail1" placeholder="Position">
                                </div>
                        </div> 
                        <div class="form-group row">
                                <label for="inputEmail1" class="col-sm-3 col-form-label">Size</label>
                                <div class="col-sm-9">
                                  <input type="email" class="form-control" id="inputEmail1" placeholder="Size">
                                </div>
                        </div> 
                        <div class="form-group row">
                                <label for="inputEmail1" class="col-sm-3 col-form-label">Rate</label>
                                <div class="col-sm-9">
                                        <select class="col-sm-9 form-control">
                                                <option></option>
                                                <option>1500</option>
                                                <option>2000</option>
                                        </select>
                                </div>
                        </div> 
                        <div class="form-group row">
                                <label for="inputEmail1" class="col-sm-3 col-form-label">Material</label>
                                <div class="col-sm-9">
                                        <select class="col-sm-9 form-control">
                                                <option></option>
                                                <option>paper</option>
                                                <option>banner</option>
                                        </select>
                                </div>
                        </div> 
                        <div class="form-group row">
                                <label for="inputEmail1" class="col-sm-3 col-form-label">Special Instruction</label>
                                <div class="col-sm-9">
                                        <input type="email" class="form-control" id="inputEmail1" placeholder="Special Instruction">
                                </div>
                        </div> 
                </nb-card-body> 
            </nb-card>
        </div>
    </div>